* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, rgb(92, 31, 74), rgb(160, 92, 139));
    background-image: linear-gradient(rgb(92, 31, 74, 0.6), rgb(160, 92, 139, 0.6)), url(./img/фон.jpg);
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.container {
    max-width: 800px;
    padding: 2rem;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #f8aed7;
    text-shadow: 0 0 10px rgb(255, 68, 177);
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #ff44b1;
    margin: 2rem auto;
    opacity: 0;
    transform: scale(0.8);
    animation: popIn 1s 0.5s forwards;
    object-position: left 5px center;
}

@keyframes popIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.message {
    font-size: 1.4rem;
    line-height: 1.8;
    margin: 2rem 0;
    opacity: 0;
    animation: slideUp 1s 1s forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.secret-btn {
    margin-top: 2rem;
    padding: 12px 24px;
    background: #ff44b1;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
    animation: fadeIn 1s 1.8s forwards;
}

.secret-btn:hover {
    background: #802058;
    transform: scale(1.05);
}

#videoModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.788);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content {
    position: relative;
    text-align: center;
}

#closeVideo {
    color: white;
    font-size: 40px;
    position: absolute;
    top: -40px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

#memeVideo {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 12px;
}


.typed-text::after {
    content: "|";
    animation: blink 0.7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#playMusicBtn {
    margin: 1.5rem auto;
    padding: 10px 20px;
    background: #ff44b1;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 500;
    box-shadow: 0 0 10px rgb(255, 68, 177);
    display: block;
    width: fit-content;
    transition: 0.3s ease;
}

#playMusicBtn:hover {
    background: #802058;
    transform: scale(1.05);
}